@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-tradisio{
    width:auto;
    height: auto;
}

/* .not-found-container {
    background-image: url('/bgError.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
  } */
