@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-tradisio {
    width: auto;
    height: auto;
}

/* Animasi Mengetik */
.typing-animation {
    overflow: hidden;
    border-right: 2px solid #f2ecbe;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    animation: typing-back-and-forth 5s infinite; /* Animasi bolak-balik dengan durasi 5 detik */
}

/* Animasi Mengetik dan Mundur */
@keyframes typing-back-and-forth {
    0%, 100% {
        width: 0;
    }
    50% {
        width: 85%;
    }
}


/* Pandawa Box */
.pandawa-box {
    position: relative;
    overflow: hidden;
  }
  
  /* Pandawa Layer */
  .pandawa-box .pandawa-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C08261; /* Ganti warna sesuai kebutuhan */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
  }
  
  /* Hover Effect */
  .pandawa-box:hover .pandawa-layer {
    transform: translateY(0);
  }
  
  /* Styling for Text in Pandawa Layer */
  .pandawa-layer h4 {
    font-size: 3rem;
    color: white; /* Ganti warna sesuai kebutuhan */
  }
  
  .pandawa-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    color: white; /* Ganti warna sesuai kebutuhan */
  }
  
  /* Additional Text (initially hidden) */
  .pandawa-layer .additional-text {
    display: none;
  }
  
  /* Show Additional Text on Hover */
  .pandawa-box:hover .pandawa-layer .additional-text {
    display: block;
  }
  