@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }

.logo-tradisio {
    width: auto;
    height: auto;
}



/* Animasi Mengetik dan Mundur */
@keyframes typing-back-and-forth {
  0%, 100% {
      width: 0;
  }
  50% {
      width: 100%; /* Set to 100% for responsiveness */
  }
}

/* Apply the animation to the span */
.typing-animation {
  overflow: hidden; /* Hide overflow content */
  display: inline-block; /* Make sure the animation works inline */
  white-space: nowrap; /* Prevent line breaks */
  animation: typing-back-and-forth 4s ease-in-out infinite alternate; /* Adjust duration and timing function */
}

/* Responsive styles for smartphones */
@media screen and (max-width: 767px) {
  .typing-animation {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

/* Responsive styles for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .typing-animation {
      font-size: 2rem; /* Adjust font size for tablets */
  }
}




/* Pandawa Box */
.pandawa-box {
    position: relative;
    overflow: hidden;
  }
  
  /* Pandawa Layer */
  .pandawa-box .pandawa-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4938A0; /* Ganti warna sesuai kebutuhan */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
  }
  
  /* Hover Effect */
  .pandawa-box:hover .pandawa-layer {
    transform: translateY(0);
  }
  
  /* Styling for Text in Pandawa Layer */
  .pandawa-layer h4 {
    font-size: 2rem;
    color: white;
    margin-top: 1.4rem;
  }
  
  .pandawa-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    color: white; /* Ganti warna sesuai kebutuhan */
      }
  
  /* Additional Text (initially hidden) */
  .pandawa-layer .additional-text {
    display: none;
    font-size: 1rem; 
  }
  
  /* Show Additional Text on Hover */
  .pandawa-box:hover .pandawa-layer .additional-text {
    display: block;
  }


  
  